{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="POOM">
      <title>POOM</title>
      <link href="{% static 'common/login.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--헤더-->
  <div class="nav">
    <a href="{% url 'register_dog:main1' %}">
      <img src="{% static 'logo/logo2.png' %}" title="logo" />
    </a>
    <div class="nav-items">

      {% if user.is_authenticated %}
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_lost' %}'">실종견 등록하기</button>
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_found' %}'">목격/구조 제보하기</button>
      {% endif %}

      <div class="nav-item" onclick="location.href='{% url 'register_dog:main1' %}'">Home</div>

      {% if user.is_authenticated %}
      <div class="nav-item" onclick="location.href='{% url 'register_dog:mypage' %}'">마이페이지 </div>
      {% endif %}
        
    </div>
  </div>

    <!--로그인-->
    <form method="post" action="{% url 'common:login' %}">
      {% csrf_token %}
      {% include "form_errors.html" %}

      <div class="login-form">

        <input type="text" placeholder="아이디/ID" class="form-control" name="username" id="username"
          value="{{ form.username.value|default_if_none:'' }}">

        <input type="password" placeholder="비밀번호/PASSWORD" class="form-control" name="password" id="password"
          value="{{ form.password.value|default_if_none:'' }}">

        <button type="submit" class="btn-primary">로그인</button>
        <div class="links">
          <a href="{% url 'common:signup' %}">회원가입</a>
        </div>
      </div>

    </form>
  </body>
</html>