<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="POOM">
  <title>POOM</title>
  <link href="{% static 'register_dog/detail.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <!--헤더-->
  <div class="nav">
    <a href="{% url 'register_dog:main1' %}">
      <img src="{% static 'logo/logo2.png' %}" title="logo" />
    </a>

  </div>

  <!-- 실종견 등록 및 제보 내용 불러오기 -->
  <div class="box">글 내용 보기</div>
  <div class="background">
    <div class="details">

      <div class="detailimg1">
        {% if post.image1 %}
          <p><img src="{{ post.image1.url }}"></p>
        {% endif %}
      </div>

      <div class="detailimg2">
      {% if post.image2 %}
        <p><img src="{{ post.image2.url }}"></p>
      {% endif %}
      </div>

      <div class="detailimg3">
      {% if post.image3 %}
        <p><img src="{{ post.image3.url }}"></p>
      {% endif %}
      </div>
    </div>

      <div class="detailbox">


      <table class="detailtable">
        <tr>
          <th>글 제목</th>
          <td>{{ post.post_title }}</td>
        </tr>
        <tr>
          <th>카테고리</th>
         <td>실종견 {{ post.category }}</td>

        </tr>
          <tr>
          {% if post.dog_name %}
          <th>실종견 이름</th>
          <td>{{ post.dog_name }}</td>
          {% endif %}

        </tr>
          <tr>
              {% if post.breed%}
              <th>견종</th>
              <td>{{ post.breed }}</td>
              {% endif %}
          </tr>
          <tr>
              <th>위치(시/도)</th>
              <td>{{ post.location_city }}</td>

          </tr>
          <tr>
              {% if post.location_detail %}
              <th>위치(구체적인 장소)</th>
              <td>{{ post.location_detail }}</td>
              {% endif %}
          </tr>
          <tr>
              <th>날짜</th>
               <td>{{ post.date }}</td>
          </tr>
          <tr>
              {% if post.sex%}
              <th>성별</th>
              <td>{{ post.sex }}</td>
              {% endif %}
          </tr>
          <tr>
              {% if post.age %}
              <th>나이</th>
              <td>{{ post.age }}</td>
              {% endif %}

          </tr>
          <tr>
              {% if post.reward %}
              <th>사례금</th>
              <td>{{ post.reward }}</td>
              {% endif %}
          </tr>
          <tr>
              <th>기타 특징</th>
              <td>{{ post.description }}</td>
          </tr>
      </table>




</div>
        <div class="detailbut">
      <button type="button" class="btn-image" onclick="location.href='{% url 'register_dog:imageresult' %}'">이미지
        검색</button>
      <button type="button" class="btn-text" onclick="location.href='{% url 'register_dog:textresult' %}'">텍스트
        검색</button>
    </div>
</div>






</body>

</html>