<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="POOM">
  <title>POOM</title>
  <link rel="stylesheet" href="{% static 'register_dog/lost.css' %}" media="screen" type="text/css"/>
</head>

<body>

  <!--헤더-->
  <div class="nav">
    <a href="{% url 'register_dog:main1' %}">
      <img src="{% static 'logo/logo2.png' %}" title="logo" />
    </a>
    <div class="nav-items">

      {% if user.is_authenticated %}
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_lost' %}'">실종견 등록하기</button>
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_found' %}'">목격/구조 제보하기</button>
      {% endif %}

      {% if user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
      {% else %}
      <a class="nav-item" href="{% url 'common:login' %}">로그인</a>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="nav-item" onclick="location.href='{% url 'register_dog:mypage' %}'">마이페이지 </div>
      {% endif %}

      {% if not user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:signup' %}">회원가입</a>
      {% endif %}
    </div>
  </div>

  <!--입력폼-->
  <div class="box">실종견 등록</div>
  <div class="background">
<!--    여기다 폼 만들기-->
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <table class="table1">
        {{ form }}
      </table>
      <button type="submit" class="but1">등록하기</button>
    </form>
  </div>

</body>

</html>