<!DOCTYPE html>
{% load static %}
<html>

<head>

  <meta charset="utf-8">
  <meta name="description" content="POOM">
  <title>POOM</title>
  <link href="{% static 'register_dog/imageresult.css' %}" rel="stylesheet" type="text/css" />
</head>


<body>

  <!--헤더-->
  <div class="nav">
    <a href="{% url 'register_dog:main1' %}">
      <img src="{% static 'logo/logo2.png' %}" title="logo" />
    </a>
    <div class="nav-items">

      {% if user.is_authenticated %}
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_lost' %}'">실종견 등록하기</button>
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_found' %}'">목격/구조 제보하기</button>
      {% endif %}

      <div class="nav-item" onclick="location.href='{% url 'register_dog:main1' %}'">Home</div>
      {% if user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
      {% else %}
      <a class="nav-item" href="{% url 'common:login' %}">로그인</a>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="nav-item" onclick="location.href='{% url 'register_dog:mypage' %}'">마이페이지 </div>
      {% endif %}

      {% if not user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:signup' %}">회원가입</a>
      {% endif %}
    </div>
  </div>

  <!--검색바-->

  <div class="search_box">
    <button class="sbut2">이미지 검색</button>
    <input class="search" type="text" placeholder="실종견 검색">
    <button class="sbut">검색</button>

  </div>

  <!--검색결과창-->
  <div class="resultbar">
    <div class="mydog"> 내 반려견 </div>
    <div class="imageresult"> 이미지 검색 결과 </div>
  </div>
  <div class="searchresult">

    <!--내 반려견-->

    <div class="mydogcontainer">
      <div class="dog_list2">
        <!-- 카드 div 를 복제하면 늘어날거임.. 아마 장고 반복문을 쓰면되지않을까 싶은데-->
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>

    <!--리스트-->

    <div class="searchcontainer">
      <div class="dog_list">
        <!-- 카드 div 를 복제하면 늘어날거임.. 아마 장고 반복문을 쓰면되지않을까 싶은데-->
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>

      </div>


    </div>


    <!--이미지 검색 팝업-->


</body>

</html>