<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="POOM">
  <title>POOM</title>
  <link href="{% static 'register_dog/main1.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

  <!--헤더-->
  <div class="nav">
    <a href="{% url 'register_dog:main1' %}">
      <img src="{% static 'logo/logo2.png' %}" title="logo" />
    </a>
    <div class="nav-items">
      {% if user.is_authenticated %}
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_lost' %}'">실종견 등록하기</button>
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_found' %}'">목격/구조 제보하기</button>
      {% endif %}

      {% if user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
      {% else %}
      <a class="nav-item" href="{% url 'common:login' %}">로그인</a>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="nav-item" onclick="location.href='{% url 'register_dog:mypage' %}'">마이페이지 </div>
      {% endif %}

      {% if not user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:signup' %}">회원가입</a>
      {% endif %}
    </div>
  </div>

  <!--검색바-->
  <div class="search_box">
    <div class="image_search_box">
      <button class="sbut2" id="modal_btn">이미지 검색</button>
      <div class="black_bg"></div>
      <div class="modal_wrap">
        <div class="modal_close"><a href="#">close</a></div>
        <div class="popupbar"> 이미지로 검색하기 </div>
        <form action="{% url 'register_dog:image' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="upload-form">
            <label for="file">
              <input name="image_upload" type="file" id="file" class="btn-upload">
            </label>
          </div>
          <div class="mpbut">
            <button type="submit" class="but4" onclick="location.href='{% url 'register_dog:imageresult' %}'">검색 시작!</button>
          </div>
        </form>
          <div class="discr">
          반려견의 얼굴이 잘 드러나는 사진을 업로드해주세요 <br>
          마이페이지에서는 이미 등록된 반려견을 검색할 수 있습니다!
        </div>
      </div>
    </div>

    <form  action="{% url 'register_dog:textresult' %}" method="POST">
      {% csrf_token %}
      <input name="text_search" class="search" type="text" placeholder="실종견 검색">
      <button class="sbut" type="submit">검색</button>
    </form>
  </div>

  <!--리스트 설명-->
  <div class="mainlist">
    <div class="lost_list" onclick="location.href='{% url 'register_dog:main1' %}'"> 실종 신고 목록</div>
    <div class="found_list" onclick="location.href='{% url 'register_dog:main2' %}'"> 제보 목록 </div>
  </div>

  <!--리스트-->
  <div class=" container">
    <div class="dog_list">
      {% if posts.exists %}
        {% for p in posts %}
        <div class="card" style="cursor:pointer;" onclick="location.href='/detail/{{ p.pk }}/'">
          <div class="image">
            <img src="{{ p.image1.url }}" alt="{{ p }}">
          </div>
          <div class="text">
            <h3>{{ p.post_title }}</h3>
            <p>by {{ p.author | upper }}</p>
            <p>지역: {{ p.location_city }}</p>
            <p>내용: {{ p.description | truncatewords:3 }}</p>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h3 class="text">아직 게시물이 없습니다.</h3>
      {% endif %}
    </div>
  </div>

</body>

<script>
  window.onload = function () {

    function onClick() {
      document.querySelector('.modal_wrap').style.display = 'block';
      document.querySelector('.black_bg').style.display = 'block';
    }
    function offClick() {
      document.querySelector('.modal_wrap').style.display = 'none';
      document.querySelector('.black_bg').style.display = 'none';
    }

    document.getElementById('modal_btn').addEventListener('click', onClick);
    document.querySelector('.modal_close').addEventListener('click', offClick);
  };
</script>

</html>