<!DOCTYPE html>
{% load static %}
<html>

<head>

  <meta charset="utf-8">
  <meta name="description" content="POOM">
  <title>POOM</title>
  <link href="{% static 'register_dog/mypage.css' %}" rel="stylesheet" type="text/css" />
</head>


<body>

  <!--헤더-->
  <div class="nav">
    <a href="{% url 'register_dog:main1' %}">
      <img src="{% static 'logo/logo2.png' %}" title="logo" />
    </a>
    <div class="nav-items">

      {% if user.is_authenticated %}
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_lost' %}'">실종견 등록하기</button>
      <button type="button" class="but" onclick="location.href='{% url 'register_dog:create_post_found' %}'">목격/구조 제보하기</button>
      {% endif %}

      <div class="nav-item" onclick="location.href='{% url 'register_dog:main1' %}'">Home</div>
      {% if user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
      {% else %}
      <a class="nav-item" href="{% url 'common:login' %}">로그인</a>
      {% endif %}

      <!-- {% if user.is_authenticated %}
      <div class="nav-item" onclick="location.href='{% url 'register_dog:mypage' %}'">마이페이지 </div>
      {% endif %} -->

      {% if not user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:signup' %}">회원가입</a>
      {% endif %}

      {% if request.user == user %}
        <a class="nav-item" href="{% url 'common:update' user.pk %}">회원정보 수정</a>
      {% endif %}
    </div>
  </div>


  <!--마이페이지-->
  <div class="mypage">
    <div class="mypagebar">
      <div class="mydog"> MY PAGE </div>
      <div class="imageresult"> 내가 작성한 글 </div>
    </div>
    <div class="searchresult">

      <!--내 정보-->

      <div class="mydogcontainer">
        <div class="profile">
          <div class="card">

            <div class="image">
              <img src="" alt="">
            </div>
            <div class="text">
              <h3>{{user.username}}</h3>
              <p>{{user.email}}</p>
            </div>
          </div>
        </div>
      </div>

      <!--리스트-->

      <div class="searchcontainer">
        <div class="dog_list">
          <!-- 카드 div 를 복제하면 늘어날거임.. 아마 장고 반복문을 쓰면되지않을까 싶은데-->
          <div class="card">

            <div class="image">
              <img src="" alt="">
            </div>
            <div class="text">
              <h3>글 제목</h3>
              <p>지역:</p>
              <p>견종:</p>

              <button class="mfbut" id="modal_btn2">자세히</button>
              <div class="black_bg2"></div>
              <div class="modal_wrap2">
                <div class="modal_close2"><a href="#">close</a></div>
                <div class="popupbar"> 내가 등록한 글 </div>
                <div class="myimage">
                  <img src="" alt="">
                </div>
                <div class="textbox">
                  <h3>글 제목</h3>
                  <p>지역:</p>
                  <p>견종:</p>
                  <p>연락처:</p>
                  <p>성별:</p>

                </div>
                <div class="image2">
                  <img src="" alt="">
                  <img src="" alt="">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>

                <div class="mpbut">
                  <button type="button" class="but4" onclick="location.href='./searchresult.html'">이미지로 검색하기</button>
                  <button type="button" class="but4" onclick="location.href='./textresult.html'">텍스트로 검색하기</button>
                </div>
                <div class="delete">
                  <p>글 삭제하기</p>
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="card">

            <div class="image">
              <img src="" alt="">
            </div>
            <div class="text">
              <h3>글 제목</h3>
              <p>지역:</p>
              <p>견종:</p>
              <button type="button" class="mfbut">자세히</button>
            </div>
          </div>
          <div class="card">

            <div class="image">
              <img src="" alt="">
            </div>
            <div class="text">
              <h3>글 제목</h3>
              <p>지역:</p>
              <p>견종:</p>
              <button type="button" class="mfbut">자세히</button>
            </div>
          </div>
          <div class="card">

            <div class="image">
              <img src="" alt="">
            </div>
            <div class="text">
              <h3>글 제목</h3>
              <p>지역:</p>
              <p>견종:</p>
              <button type="button" class="mfbut">자세히</button>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!--이미지 검색 팝업-->

  </div>

</body>

<script>
  window.onload = function () {

    function onClick() {
      document.querySelector('.modal_wrap2').style.display = 'block';
      document.querySelector('.black_bg2').style.display = 'block';
    }
    function offClick() {
      document.querySelector('.modal_wrap2').style.display = 'none';
      document.querySelector('.black_bg2').style.display = 'none';
    }

    document.getElementById('modal_btn2').addEventListener('click', onClick);
    document.querySelector('.modal_close2').addEventListener('click', offClick);




  };
</script>

</html>