<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="description" content="POOM">
  <title>POOM</title>
  <link href="searchresult.css" rel="stylesheet" type="text/css" />
</head>


<body>

  <!--헤더-->
  <div class="nav">
    <img src="" title="로고자리" />
    <div class="nav-items">
      <button type="button" class="but" onclick="location.href='./lost_form.html'">실종견 등록하기</button>
      <button type="button" class="but" onclick="location.href='./found_form.html'">목격/구조 제보하기</button>
      <div class="nav-item">Home</div>
      <div class="nav-item">Login</div>
      <div class="nav-item" onclick="location.href='./mypage.html'">마이페이지 </div>

    </div>
  </div>

  <!--검색바-->

  <div class="search_box">
    <button class="sbut2">이미지 검색</button>
    <input class="search" type="text" placeholder="실종견 검색">
    <button class="sbut">검색</button>

  </div>

  <!--검색결과창-->
  <div class="resultbar">
    <div class="mydog"> 내 반려견 </div>
    <div class="imageresult"> 이미지 검색 결과 </div>
  </div>
  <div class="searchresult">

    <!--내 반려견-->

    <div class="mydogcontainer">
      <div class="dog_list2">
        <!-- 카드 div 를 복제하면 늘어날거임.. 아마 장고 반복문을 쓰면되지않을까 싶은데-->
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>

    <!--리스트-->

    <div class="searchcontainer">
      <div class="dog_list">
        <!-- 카드 div 를 복제하면 늘어날거임.. 아마 장고 반복문을 쓰면되지않을까 싶은데-->
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>
        <div class="card">

          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <h3>글 제목</h3>
            <p>지역:</p>
            <p>견종:</p>
          </div>
        </div>

      </div>


    </div>


    <!--이미지 검색 팝업-->


</body>

</html>