/* 헤더 */
.nav {
  height: 80px;
  border-bottom: 2px solid #FFDA7C;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
}

.nav-item{
  margin-top: auto;
  margin-left: 20px;
  text-decoration: none;
}

.but {
  margin-top: 20px;
  text-align: center;
  width: 150px;
  padding: 8px;
  border: 2px solid #FFDA7C;
  border-radius: 20px;
  color:solid black;
  background: #FFDA7C;
  margin-left: auto;
  margin-right: 20px;
  font-weight: bold;
}

/*로그인*/
.login-form {
  width: 500px;
  background-color: #EEEFF1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.form-control {
  font-size: 16px;
  padding: 16px;
  border: none;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-primary {
  font-size: 16px;
  border: none;
  padding: 16px;
  width: 330px;
  background-color: #FFDA7C;
  margin-bottom: 30px;
  color: black;
  border-radius: 5px;
}

.links {
  text-align: center;
}

.links a {
  font-size: 14px;
  color: #9B9B9B;
}